
.size500 {
  height: 500px;
  width: 500px;
}

.total-content {
  height: 100vh;
  width: 100%;
}
// trophy

@keyframes play180 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92160px 0px;
  }
}
.shapeshifter {
  animation-duration: 3000ms;
  animation-timing-function: steps(180);
  width: 510px;
  height: 510px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}
.shapeshifter.play {
  animation-name: play180;
  border: 1px solid;
  box-shadow: 0 0 80px black;
  border-radius: 280px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.screen-right {
  height: 100vh;
  width: 49.8%;
  right: 0;
  position: absolute;
  box-shadow: 0 0 10px #aaaaaa;
  background-image: linear-gradient(to left, #3800ff, #0060ff, #008aff, #00aaff, #39c5f6);
}

.screen-left {
  height: 100vh;
  width: 49.8%;
  left: 0;
  position: absolute;
  box-shadow: 0 0 10px #aaaaaa;
  background-image: linear-gradient(to right, #3800ff, #0060ff, #008aff, #00aaff, #39c5f6);
}
