/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.flex {
  display: flex;
}

.vertical-align {
  flex-direction: column;
}

.flex-3 {
  flex: 3;
}

.flex-1 {
  flex: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}
